body {
    background-color: #121212;
}

.fakeflix-app a {
    color: white;
}

.fakeflix-app-header .connect-wallet-button {
    background-color: #dc1a28;
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    transition: background-color 0.1s ease-out;
}

.fakeflix-app-header .connect-wallet-button:hover {
    cursor: pointer;
    background-color: #fff;
}

.fakeflix-app-header {
    display: flex;
    height: 60px;
    padding: 0.5em
}

.fakeflix-app-header .header-logo {
    display: flex;
}

.fakeflix-app-header nav {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.fakeflix-app-header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5em;
}

.fakeflix-app-header nav li a {
    display: inline-block;
    padding: 0.75em 0.75em;
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;

    border-radius: 0.25em;

    transition: background-color 0.1s ease-out;
}

.fakeflix-app-header nav li a:hover,
.fakeflix-app-header nav li a.active {
    background-color: #dc1a28;
}

.fakeflix-app-header .header-right {
    display: flex;
    align-items: center;
}

.fakeflix-app-header .header-address {
    border: 3px solid #dc1a28;
    font-weight: 700;
    border-radius: 2em;
    padding: 0.25em 0.75em;
}

.video-player-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

    background-color: #000000cc;

    align-items: center;
    justify-content: center;
}

.video-player-container video {
    height: 80vh
}

.video-player-container .inner {
    display: flex;
    flex-direction: column;
}

.video-player-container .close-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.video-player-container .close-button-container button {
    background-color: #dc1a28;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    transition: background-color 0.1s ease-out;
}

.video-player-container .close-button-container button:hover {
    cursor: pointer;
    background-color: #fff;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    overflow: hidden;
}

.movies-list .movie {
    width: 25%;
    padding: 1em;
    box-sizing: border-box;
}

.movie-cover {
    display: flex;
}

.movie-cover img {
    width: 100%;
    aspect-ratio: 16/9;

    transition: 0.1s ease-out transform;
}

.movie-cover img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.movie-data {
    margin-top: 0.75em
}

.movie-data .title {
    font-size: 1.15em;
}

.movie-data .director {
    color: #ccc;
}

.movie-data .actors {
    color: #999;
}
