body {
    background-color: #1a1b20;
    color: #f8f8f8;
}

#portal {
    height: 100vh;
    display: flex;
    align-items: center;
}

#portal nav {
    display: flex;
    width: 100%;
    justify-content: center;
}

#portal ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

#portal li {
    list-style: none;

    /*background-color: #292a31;*/
    background-color: #1a1a1e;
    border: 2px solid #e8e8e8;
    border-radius: 1em;

    transition: background-color 0.1s ease-out;
}

#portal li:hover {
    background-color: #26262d;
}

#portal li a {
    text-decoration: none;
    display: inline-flex;

    height: 200px;
    width: 200px;

    flex-direction: column;

    padding: 1em;
}

a .logo {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

a .logo img {
    max-width: 85%;
    height: auto;
}

a .label {
    text-align: center;
    font-size: 1.5em;
    color: #f8f8f8;
}
